/* ---- reset ---- */
*{
	border: 1px solid black;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---- elements style ---- */
img {
  max-width: 100%;
}

img:hover {
  opacity: 0.7;
  -moz-box-shadow: 2px 2px 5px 2px rgb(231, 231, 231);
  -webkit-box-shadow: 2px 2px 5px 2px rgb(231, 231, 231);
  box-shadow: 2px 2px 5px 2px rgb(231, 231, 231);
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  line-height: 147%;
}

.section-title h2 {
  margin-bottom: 30px;
}

h3 {
  font-family: "Hind", sans-serif;
  font-size: 2em;
  padding: 30px 0;
  text-align: center;
}

a {
  color: lightblue;
  text-decoration: none;
}

a:hover {
  color: #d35555;
}

footer .inline-list {
  font-size: 30px;
  padding-bottom: 30px;
}

/* ---- layout ---- */

.container {
  margin: 0 20px;
  max-width: 960px;
}
/* border: 1px solid #111;  */

section {
  padding-bottom: 20px;
  padding-top: 20px;
}

section:nth-of-type(even) {
  background: gray;
}

#about {
	padding: 80px 0;
	text-align: center;
	position: relative;
	z-index: 2;
}

.main-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

footer {
  text-align: center;
}

/* ---- components ---- */

.btn {
  display: inline-block;
  background: #d35555;
  padding: 2em;
  color: #494949;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.5s ease;
  /* animation-name: blink;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
}

.btn:hover {
  background: #494949;
  color: #d35555;
}
.back-to-top{
	position: fixed;
	bottom: 15px;
	right: 15px;
	background: #fff;
	border-radius: 4px;
	width: 20px;
	height: 22px;
	text-align: center;
	padding: 3px 3px 5px 3px;
	display: inline-block;
	z-index: 1;
}

/* Burger menu */
.navbar-toggle-button {
  z-index: 100;
  height: 20px;
  width: 30px;
  cursor: pointer;
	transition: opacity .25s ease;
	width: 50px;
	position: relative;
}
.navbar-toggle-button span {
  background: #fff;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease;
  cursor: pointer;
}
 .navbar-toggle-button span:nth-of-type(2) {
    top: 6px;
}
  .navbar-toggle-button span:nth-of-type(3) {
    top: 12px;
}

/*Change class on click*/
.navbar-toggle-button.open span{
	background: #000;
}
.navbar-toggle-button.open span.top {
  transform: translateY(6px) translateX(0) rotate(45deg);
}
.navbar-toggle-button.open span.middle {
  opacity: 0;
}
.navbar-toggle-button.open span.bottom {
  transform: translateY(-6px) translateX(0) rotate(-45deg);
}

/* ---- header ---- */

.page-header {
  background: #313131;
  color: rgb(231, 231, 231);
  font-family: "Hind", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.page-header a {
  color: rgb(231, 231, 231);
  padding: 5px 10px;
}

.page-header a:hover {
  color: #d35555;
  font-weight: 500;
  transition: color 0.5s ease;
}

.page-header h1 {
  font-family: "Hind", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/* ---- banner ---- */

.banner {
  height: 73vh;
  color: #494949;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=817&q=80)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.banner h1 {
  font-size: 2em;
  margin-bottom: 5px;
  line-height: 1;
  text-align: center;
  padding: 0 15px;
}

.banner h2 {
  margin-top: 30px;
  animation-name: bounce;
  animation-duration: 2s;
}

/* ---- Projects section ---- */

#projects{
  padding-bottom: 50px;
}
.flex-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 30px;
}

.flex-list li {
  flex-basis: 100%;
  position: relative;
  padding: 5px 10px;
}
.portfolio-title{
  color: #000;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}
.portfolio-title h2{
  font-size: 2em;
  margin-bottom: 15px;
}


/* ---- grid ---- */


.grid-list li {
	position: relative;
	margin-bottom: 20px;
}

.grid-list img {
  display: block;
}

/* ---- section ---- */

.section-intro {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 30px;
}

footer .inline-list{
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.inline-list a{
  font-size: 40px;
}

#contact {
  text-align: center;
  padding-bottom: 30px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video .container {
  width: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.grid-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		grid-gap: 10px;
	}
	.grid-list li{
		margin-bottom: 0;
  }
  .portfolio-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .27s;
  }
  .portfolio-title:hover{
    opacity: .7;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page-header {
    background: #d35555;
    color: rgb(231, 231, 231);
    font-size: 20px;
  }

  .page-header a:hover {
    color: #494949;
  }
  nav ul li{
    display: inline-block;
  }
  .banner {
    height: 80vh;
  }
  .portfolio__list li {
    width: 50%;
  }

  .flex-list li {
    flex-basis: 50%;
  }

  .section-intro {
    max-width: 50%;
  }

  .video .container {
    width: 500px;
	}

	.navbar-toggle-button{
    display: none;
	}
	.page-menu{
    display: block;
  }

  footer .inline-list{
    width: 20%;
  }
  footer .inline-list a{
    font-size: 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    margin: 0 auto;
  }

  .page-header h1 {
    font-size: 2em;
  }

  .portfolio__list li {
    width: 25%;
  }

  .banner h1 {
    font-size: 3em;
    margin-bottom: 5px;
    line-height: 1;
	}
	.grid-list {
		grid-template-columns: 50% 50%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* ---- Animation functions ----*/

@keyframes blink {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@media (max-width: 767px){
		.page-menu{
			position: absolute;
			margin: 0;
			top: 0;
			text-align: center;
			left: -100%;
			background: #fff;
			height: 100vh;
			width: 100%;
			z-index: 10;
			padding-left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			transition: all .27s;
		}
		.page-menu ul li{
			display: block;
		}
		.page-menu.open{
			left: 0;
		}
}