
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

/* ---- elements style ---- */  
img{
    max-width:100%;
}

img:hover{
    opacity: .7;
    -moz-box-shadow:    2px 2px 5px 2px rgb(231, 231, 231);
    -webkit-box-shadow: 2px 2px 5px 2px rgb(231, 231, 231);
    box-shadow:         2px 2px 5px 2px rgb(231, 231, 231);    
}
  
/* ---- typography ---- */
  
body {
    color: #111;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
h2 {}
  
h3 {
    font-family: 'Hind', sans-serif;
    font-size: 2em;
    padding: 30px 0;
    text-align: center;
}

a{
    color:lightblue;
    text-decoration: none;
}

a:hover{
    color: coral;
}

/* ---- layout ---- */

.container {
    margin: 0 20px;
    max-width: 960px;
  }
  /* border: 1px solid #111;  */

  
section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
section:nth-of-type(even){
    background: gray;
}

#about{
    padding: 80px 0;
}

.main-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }

/* ---- components ---- */

.btn{
    display: inline-block;
    background: coral;
    padding: 2em; 
    color: #494949; 
    font-weight: 500;
    border-radius: 4px;
    transition: all .5s ease;
}

.btn:hover{
    background: #494949;
    color: coral;
}


/* ---- header ---- */

.page-header{
    background:#313131;
    color:rgb(231, 231, 231);
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 25px 20px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10;
}

.page-header a{
    color:rgb(231, 231, 231);
    padding: 5px 10px;
}

.page-header a:hover{
    color:white;
    font-weight: bold;
}

.page-header h1{
    font-family: 'Hind', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

nav{
    flex-basis: 70%;
}


/* ---- banner ---- */

.banner{
    height: 80vh;
    color:#494949;
    font-family: 'Playfair Display', serif;
    font-size:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background: url(https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=817&q=80) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.banner h1{
    font-size:2em;
    margin-bottom: 5px;
    line-height:1;
}

.banner h2{
    margin-top: 30px;
}

/* ---- Projects section ---- */

.flex-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 30px;
}

.flex-list li{
    flex-basis: 100%;
    position: relative; 
    padding: 5px 10px;
}

.portfolio-title{
    position: absolute;
    left: 10%;
    top: 50%;
}


/* ---- grid ---- */
.grid-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

.grid-list li{
    position: relative;
}

.grid-list img{
    display:block;
}


/* ---- section ---- */

.section-intro{
    text-align: center;
    max-width: 80%;
    margin: 0 auto 30px;
}

.inline-list li{
    display: inline-block;
}

  section#portfolio {
    // ...
  }
  
/* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {

  }
  
/* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .page-header{
        background:#d35555;
        color:rgb(231, 231, 231);
        font-size: 20px;
    }

    .portfolio__list li{
        width: 50%;
    }

    .flex-list li{
        flex-basis:50%;    
    }

    .section-intro{
        max-width: 50%;
    }

    nav{
        flex-basis: 50%;
    }

  }
  
/* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .container{
       margin: 0 auto; 
    }

    .page-header h1{
        font-size: 2em;
    }

    .portfolio__list li{
        width: 25%;
    }

    .banner h1{
        font-size:3em;
        margin-bottom: 5px;
        line-height:1;
    }

  }
  
/* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  
  }







